<header>
    <img src="/assets/bussines.png" style="width:300px" class="ilustracion">
    <div class="bg-right">
        <div class="container py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/assets/shop.png" style="width:100%;max-width: 85px;" class="just_mobile mx-auto">

                </div>
                <div class="col-12  mt-3 text-center">

                    <a class="h2">¡Estás por crear tu tienda!</a>
                    <br>
                    <a>Completá los siguientes campos y tu tienda se creará en segundos</a>
                </div>
                <div class="col-12 mt-4 px-5">
                    <input type="text" placeholder="¿Cuál es tu nombre?" class="w100" name="name" [(ngModel)]="clientObject.name">
                </div>
                <div class="col-12 mt-3 px-5">
                    <input type="email" placeholder="Escribi tu email acá" class="w100" name="email" [(ngModel)]="clientObject.email">
                </div>

                <div class="col-12 mt-3 px-5">
                    <input type="password" placeholder="Escribi tu contraseña acá" class="w100" name="pass" [(ngModel)]="clientObject.password">
                </div>
                <div class="col-12 mt-3 px-5">
                    <input type="text" placeholder="¿Cual es el nombre de tu marca?" class="w100" name="marca" [(ngModel)]="clientObject.marca">
                </div>
                <div class="col-12 mt-3 px-5">
                    <select class="w100" (change)="clientObject.rubro = $event.target.value">
                      <option>
                        Seleccioná tu rubro
                      </option>
                    <option>
                      Zapatillas hombre
                    </option>
                    <option>
                        Zapatillas mujer
                      </option>
                      <option>
                          Indumentaria
                        </option>
                        <option>
                          Electronica
                        </option>
                        <option>
                          Deportes
                        </option>
                        <option>
                          Camisas
                        </option>
                        <option>
                            Ropa de verano
                          </option>
                          <option>
                            Otro
                          </option>
                  </select>
                </div>
                <div class="col-12 px-5">
                    <p><small>Al crear tu tienda estás aceptando nuestros terminos y condiciones de politica de privacidad</small></p>
                </div>
                <div class="col-12 px-5">
                    <button class="w100" (click)="ValidateForm()">CREAR MI TIENDA</button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="lightbox" *ngIf="isAccount">
    <div class="box d-flex">
        <div class="circle"></div>
    </div>
</div>
<!-- <section class="top">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
          <h2>¡Te has registado con exito!</h2>
          <h5>Estas a unos pasos de terminar la creación de tu tienda</h5>
          <h6>Recordá que esta plataforma es gratuita durante 15 días, luego tendrás que contratar un plan.<br>
          </h6>
      </div>
    </div>
  </div>
</section>
<section class="bottom">
  <div class="container">
    <div class="row text-center mt-5">
      <div class="col-12">
        <h5>Información adicional para tu tienda</h5>
      </div>
          <form class="col-12">
            <div class="col-12 ">
              <mat-form-field class="middle-width">
                <input matInput type="text" placeholder="@usuario Instagram" name="ig" [(ngModel)]="redesSociales.instagram">
              </mat-form-field>
            </div>
            <div class="col-12 ">
              <mat-form-field class="middle-width">
                <input matInput type="text" placeholder="@usuario de facebook" name="fb" [(ngModel)]="redesSociales.facebook">
              </mat-form-field>
            </div>
                          <div class="col-12 ">
                              <mat-form-field class="middle-width">
                                  <input matInput type="text" placeholder="WhatsApp" name="wpp" [(ngModel)]="redesSociales.whatsapp">
                              </mat-form-field>
                          </div>
      <div class="col-12">
        <button mat-raised-button color="primary" class="middle-width" (click)="SendInfo()">Ir a mi tienda</button>
      </div>
    </form>
    </div>
  </div>
</section> -->