@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
    font-family: 'Quicksand', sans-serif;
    color: #494949;
}

.top {
    background-color: #029af033;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-width {
    width: 35%;
}

header {
    background-image: url('/assets/bg_modern.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

select {
    height: 45px;
}

input,
select {
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 10px;
}

.ilustracion {
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.bg-right {
    position: absolute;
    right: 15px;
    width: 40%;
    top: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px black;
    height: calc(100vh - 30px);
}

@media screen and (max-width:960px) {
    .bg-right {
        width: 100%;
        left: 0;
        height: auto;
        top: 10%;
    }
    .ilustracion {
        display: none;
    }
}

button {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(45deg, #1fb5cb, #16c5b8);
    box-shadow: 0px 0px 10px -6px black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.lightbox {
    background: #0000002b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: flex;
}

.box {
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin: auto;
    display: flex;
}

.circle {
    height: 60%;
    width: 60%;
    border-radius: 50px;
    border-top: 3px solid #1fb5cb;
    margin: auto;
    animation: 3s reload infinite;
}

@keyframes reload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
    /* 100% {
        transform: rotate(360deg);
    } */
}