<header class="bg-head">
    <div class="navbar_top">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <h3 class="text-white" routerLink="/home"> ChangoFree</h3>
                    <a class="ml-auto my-auto mr-3 text-white cp" routerLink="/planes"> Precios</a>
                    <button class=" btn-secondary" (click)="isLogin = true">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-mobile h100">

        <div class="row h100">
            <div class="col-12 d-flex h100">
                <div class="my-auto mx-auto text-center mb-3">
                    <h1 class="text-white text-center">Evolucioná tu negocio digital</h1>
                    <p class="text-white h5 text-center mt-3"> Todas las herramientas para que seas lider en tu rubro.
                    </p>

                </div>
            </div>

        </div>
    </div>

</header>
<section class="py-5 section_plan">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1">Disfrutá 15 diás gratis</h2>
                <p>Sin compromisos de compra ni uso de tarjetas.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="h2 text-center pt-4">
                        Plan Inicial
                    </h3>
                    <p class="text-center px-3">
                        <small>
                            Anuncios, herramientas esenciales, notificaciones y soporte
                        </small>
                    </p>
                    <div class="text-center">
                        <a class="h1">$812 <small>/mes</small></a>
                    </div>
                    <div class="px-4 py-4 items text-center">
                        <p class="mb-0">Gestionar tu negocio</p>
                        <p class="mb-0">Crear ofertas y notificaciones</p>
                        <p class="mb-0">$500 en anuncios</p>
                        <p class="mb-0">Publicaciones semanales en Instagram</p>
                        <p class="mb-0">Tienda adaptable a celulares</p>

                    </div>
                </div>

            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="h2 text-center pt-4">
                        Plan Revolución
                    </h3>
                    <p class="text-center">
                        <small>
                            Anuncios, herramientas esenciales, notificaciones, publicaciones y soporte 12/7
                        </small>
                    </p>
                    <div class="text-center">
                        <a class="h1">$1417<small>/mes</small></a>
                    </div>
                    <div class="px-4 py-4 items text-center">
                        <p class="mb-0">Gestionar tu negocio</p>
                        <p class="mb-0">Crear ofertas y notificaciones</p>
                        <p class="mb-0">$700 en anuncios</p>
                        <p class="mb-0">Publicaciones semanales en Instagram</p>
                        <p class="mb-0">Tienda adaptable a celulares</p>
                        <p class="mb-0">Posicionamiento SEO</p>
                        <p class="mb-0">Diseño personalizado</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <h3 class="h2 text-center pt-4">
                        Plan Ultra Bussines
                    </h3>
                    <p class="text-center">
                        <small>
                            Top Anuncios, herramientas esenciales, notificaciones, publicaciones y soporte 12/7
                        </small>
                    </p>
                    <div class="text-center">
                        <a class="h1">$2300 <small>/mes</small></a>
                    </div>
                    <div class="px-4 py-4 items text-center">
                        <p class="mb-0">Gestionar tu negocio</p>
                        <p class="mb-0">Crear ofertas y notificaciones</p>
                        <p class="mb-0">$1000 en anuncios</p>
                        <p class="mb-0">Publicaciones semanales en Instagram</p>
                        <p class="mb-0">Tienda adaptable a celulares</p>
                        <p class="mb-0">Posicionamiento SEO</p>
                        <p class="mb-0">Diseño personalizado</p>
                        <p class="mb-0">Ayuda de profesional en Ecommerce</p>
                        <p class="mb-0">Estadisticas de anuncios</p>
                        <p class="mb-0">Retargeting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a class="my-3">El plan se seleccioná una vez que hayas creado tu tienda</a>
                <p class="mt-3">
                    <button class="btn-primary" routerLink="/crear-tienda">Crear tienda online</button>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="clientes">
    <div class="container h100">
        <div class="row h100">
            <div class="col-12 col-md-6 text-center text-white d-flex">
                <div class="my-auto mx-auto">

                    <h3 class="h1">+1.000 Marcas</h3>
                    <p>Están registradas</p>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center text-white d-flex">
                <div class="my-auto mx-auto">

                    <h3 class="h1">+1.000 Millones</h3>
                    <p>De ventas por año</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="top" style="background-color:#1c1c1c">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-white text-center">
                    <a class="h3">¿No sabes si es para vos? </a>
                    <br>
                    <button class="btn_planes mt-3" routerLink="/planes">Ver Planes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container pt-3">
            <div class="row py-5" style="border-bottom: 1px solid #dcdcdc24;">
                <div class="col-12 col-md-4 d-flex">
                    <div class="mx-auto text-white text-center">
                        <a class="h4 my-3">ChangoFree</a>
                        <p class="mb-1 mt-3" style="color: #eeeeeeb5;">Servicios</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Planes</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Contacto</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="mx-auto text-white text-center">
                        <a class="h4 my-3"> Legalidad</a>
                        <p class="mb-1 mt-3" style="color: #eeeeeeb5;">Terminos y condiciones</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Politicas de privacidad</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Politicas de cookies</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-md-4 col-12 text-center-xs">
                            <img src="http://changofree.com/base/assets/shop.png" style="width:100%;filter:invert(1); max-width: 125px;">
                        </div>
                        <div class="col-md-8 col-12 text-center-xs">
                            <p class="mb-0 text-white"><b>Tu agencia de marketing</b></p>
                            <p class="text-white">
                                <small>Creá tu tienda online y nosotros te ayudamos a vender.</small>
                            </p>
                        </div>
                        <div class="col-12">
                            <button style="width:100%" class="btn_planes" routerLink="/crear-tienda">CREÁ TU TIENDA GRATIS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3" style="border-bottom: 1px solid #dcdcdc24;">
                <div class="col-12 text-white text-center">
                    <a class="h3">
                            Tu <b>exito</b> es la consecuencia de tus <b>actos</b>
                        </a>
                    <br>
                    <a class="h1">
                            Soñá en grande
                        </a>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 text-center-xs">

                    <p>
                        <small class="text-white">
                                Derechos reservados por ChangoFree Company ©
                            </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>



<div class="lightbox" *ngIf="isLogin">
    <div class="bg-right">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-center">
                </div>
                <div class="col-12 px-5 text-center">
                    <a class="h2">¡Inicia sesión!</a>
                </div>

                <div class="col-12 mt-3 px-5">
                    <input type="email" placeholder="Escribi tu email acá" class="w100" name="email" [(ngModel)]="clientObject.email">
                </div>
                <div class="col-12 mt-3 px-5">
                    <input type="password" placeholder="Escribí tu contraseña" class="w100" name="email" [(ngModel)]="clientObject.password">
                </div>
                <div class="col-12 px-5 mt-3">
                    <button class="w100 login" (click)="ValidateForm()">INICIAR SESIÓN</button>
                </div>
                <div class="mt-4 text-center col-12">

                    <a class="cp" (click)="isLogin = !isLogin">Cerrar</a>
                </div>
            </div>
        </div>
    </div>