<header class="bg-head">
    <div class="navbar_top">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex">
                    <h3 class="text-white "> ChangoFree</h3>
                    <a class="ml-auto my-auto mr-3 text-white cp" routerLink="/planes"> Precios</a>
                    <button class=" btn-secondary" (click)="isLogin = true">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-mobile h100">

        <div class="row h100">
            <div class="col-12 col-md-7 d-flex h100">
                <div class="my-auto">


                    <h1 class="text-white text-center-xs">Aumentá tus ventas por internet</h1>
                    <p class="text-white h5 text-center-xs mt-3"> Somos una companía de marketing que no solo te brindaremos la posibilidad de crear una tienda online en cuestión de segundos, también potenciales clientes.</p>
                    <p class="mt-5 text-center-xs">
                        <button class="btn-primary" routerLink="/crear-tienda">
                            CREAR MI TIENDA ONLINE
                            <i class="material-icons">arrow_right</i>
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 h100 d-flex">
                <div class="my-auto">
                    <img src="http://changofree.com/base/assets/lapto.png" alt="chango free" style="width: 100%;" class="my-4 py-4">
                </div>
            </div>
        </div>
    </div>

</header>
<section class="ofrecer">
    <div class="triangulo"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3 text-center-xs">
                <h2 class="h1">¿Qué me ofrece <b>ChangoFree</b>?</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="http://changofree.com/base/assets/responsive.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Visitas diarias a tu tienda</b><br> sin que tengás que hacer nada.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="http://changofree.com/base/assets/credit-card.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Variedad de forma de pagos y envios</b><br> todos los medios de pago y envios en un mismo lugar.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="http://changofree.com/base/assets/support.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Soporte y cursos</b><br> para que te ayudemos a seguir creciendo cada día.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangulo_down"></div>

</section>

<section class="ventas">

    <div class="container">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h2 class="h1">¿Como potencian mis <b>ventas</b>?</h2>
            </div>

            <div class="col-12 text-center">
                <p>
                    Gran parte de tu plan mensual, lo invertimos en anuncios en redes sociales para generar tráfico cotidiano a tu TIENDA y a su vez posicionarla en motores de busqueda como <b>Google</b>.
                    <br> Además, contamos con un sistema de <b>Notificaciones</b> para informar a los clientes que estan interesados en tu rubro, que sacaste una nueva oferta.

                </p>
            </div>
            <div class="col-12 text-center">
                <!-- <img src="http://changofree.com/base/assets/it.png" style="width:175px"> -->
            </div>
        </div>
    </div>
    <!-- <div class="triangulo_down"></div> -->

</section>
<section class="call_to_action">
    <div class="triangulo2"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1">La <b>mejor plataforma</b> para vender online</h2>
                <p>Vos te ocupas de tus productos y nosotros de potenciar tus ventas.</p>
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-12 d-flex">

                <img src="http://changofree.com/base/assets/login.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Primero</b> creá tu tienda. Si ya estabas vendiendo en Instagram o Facebook podés usar las mismas fotos para tus productos</p>
            </div>
            <div class="col-12 d-flex mt-4">

                <img src="http://changofree.com/base/assets/contract.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Segundo</b> personalizá tu tienda. En tu panel de control podés modificar el diseño y plantilla de tu Ecommerce. Si tenés más experiencia en Ecommerce y sabes CSS podes modificar completamente a tu gusto</p>
            </div>
            <div class="col-12 d-flex mt-4">
                <img src="http://changofree.com/base/assets/network.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Tercero</b> fomentá las redes sociales. Si venias trabajando con las redes sociales, fomentalos a entrar a tu tienda, y así empezás a generar visitas y posibles ventas.
                </p>

            </div>
            <div class="col-12 d-flex mt-4">
                <img src="http://changofree.com/base/assets/money-bag.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Cuarto</b> disfrutá los ingresos. Si seguiste todos los pasos el resto de responsabilidad para que vendas es nuestra. Y gracias a nuestro excelente equipo de marketing vas a lograr tus objetivos.
                </p>
            </div>
            <div class="col-12 mt-5 text-center pb-5">
                <button class="btn-primary px-5" routerLink="/crear-tienda">
                    CREAR MI TIENDA ONLINE
                </button>
            </div>
        </div>
    </div>
</section>
<section class="clientes">
    <div class="container h100">
        <div class="row h100">
            <div class="col-12 col-md-6 text-center text-white d-flex">
                <div class="my-auto mx-auto">

                    <h3 class="h1">+1.000 Marcas</h3>
                    <p>Están registradas</p>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center text-white d-flex">
                <div class="my-auto mx-auto">

                    <h3 class="h1">+1.000 Millones</h3>
                    <p>De ventas por año</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="top" style="background-color:#1c1c1c">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-white text-center">
                    <a class="h3">¿No sabes si es para vos? </a>
                    <br>
                    <button class="btn_planes mt-3" routerLink="/planes">Ver Planes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container pt-3">
            <div class="row py-5" style="border-bottom: 1px solid #dcdcdc24;">
                <div class="col-12 col-md-4 d-flex">
                    <div class="mx-auto text-white text-center">
                        <a class="h4 my-3">ChangoFree</a>
                        <p class="mb-1 mt-3" style="color: #eeeeeeb5;">Servicios</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Planes</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Contacto</p>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="mx-auto text-white text-center">
                        <a class="h4 my-3"> Legalidad</a>
                        <p class="mb-1 mt-3" style="color: #eeeeeeb5;">Terminos y condiciones</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Politicas de privacidad</p>
                        <p class="mb-1" style="color: #eeeeeeb5;">Politicas de cookies</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-md-4 col-12 text-center-xs">
                            <img src="http://changofree.com/base/assets/shop.png" style="width:100%;filter:invert(1); max-width: 125px;">
                        </div>
                        <div class="col-md-8 col-12 text-center-xs">
                            <p class="mb-0 text-white"><b>Tu agencia de marketing</b></p>
                            <p class="text-white">
                                <small>Creá tu tienda online y nosotros te ayudamos a vender.</small>
                            </p>
                        </div>
                        <div class="col-12">
                            <button style="width:100%" class="btn_planes" routerLink="/crear-tienda">CREÁ TU TIENDA GRATIS</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3" style="border-bottom: 1px solid #dcdcdc24;">
                <div class="col-12 text-white text-center">
                    <a class="h3">
                        Tu <b>exito</b> es la consecuencia de tus <b>actos</b>
                    </a>
                    <br>
                    <a class="h1">
                        Soñá en grande
                    </a>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 text-center-xs">

                    <p>
                        <small class="text-white">
                            Derechos reservados por ChangoFree Company ©
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>



<div class="lightbox" *ngIf="isLogin">
    <div class="bg-right">
        <div class="container">
            <div class="row py-5">
                <div class="col-12 text-center">
                </div>
                <div class="col-12 px-5 text-center">
                    <a class="h2">¡Inicia sesión!</a>
                </div>

                <div class="col-12 mt-3 px-5">
                    <input type="email" placeholder="Escribi tu email acá" class="w100" name="email" [(ngModel)]="clientObject.email">
                </div>
                <div class="col-12 mt-3 px-5">
                    <input type="password" placeholder="Escribí tu contraseña" class="w100" name="email" [(ngModel)]="clientObject.password">
                </div>
                <div class="col-12 px-5 mt-3">
                    <button class="w100 login" (click)="ValidateForm()">INICIAR SESIÓN</button>
                </div>
                <div class="mt-4 text-center col-12">

                    <a class="cp" (click)="isLogin = !isLogin">Cerrar</a>
                </div>
            </div>
        </div>
    </div>