<header class="bg-head">
    <div class="navbar_top">
        <div class="container">
            <div class="row">


                <div class="col-12 d-flex">
                    <h3 class="text-white ">Beta Extra</h3>
                    <button class="ml-auto btn-secondary">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-mobile h100">

        <div class="row h100">
            <div class="col-12 col-md-7 d-flex h100">
                <div class="my-auto">


                    <h1 class="text-white text-center-xs">Aumentá tus ventas por internet</h1>
                    <p class="text-white h5 text-center-xs mt-3"> Somos una companía de marketing que no solo te brindaremos la posibiladad de crear una tienda online en cuestión de segundos, también potenciales clientes.</p>
                    <p class="mt-5 text-center-xs">
                        <button class="btn-primary">
                            CREAR MI TIENDA ONLINE
                            <i class="material-icons">arrow_right</i>
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 h100 d-flex">
                <div class="my-auto">
                    <img src="/assets/lapto.png" alt="chango free" style="width: 100%;" class="my-4 py-4">
                </div>
            </div>
        </div>
    </div>

</header>
<section class="ofrecer">
    <div class="triangulo"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 py-3 text-center-xs">
                <h3>¿Qué me ofrece ChangoFree?</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="/assets/responsive.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Visitas diarias a tu tienda</b><br> sin que tengás que hacer nada.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="/assets/credit-card.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Variedad de forma de pagos y envios</b><br> todos los medios de pago y envios en un mismo lugar.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex ">
                <div class="mx-auto">
                    <p class="text-center">
                        <img src="/assets/support.png" alt="Obtener tráfico por ChangoFree" style="width:100px">
                    </p>
                    <p class="text-center"><b>Soporte y cursos</b><br> para que te ayudemos a seguir creciendo cada día.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="triangulo_down"></div>

</section>
<section class="call_to_action">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="h1">La <b>mejor plataforma</b> para vender online</h2>
                <p>Vos te ocupas de tus productos y nosotros de potenciar tus ventas.</p>
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-12 d-flex">

                <img src="/assets/login.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Primero</b> creá tu tienda. Si ya estabas vendiendo en Instagram o Facebook podés usar las mismas fotos para tus productos</p>
            </div>
            <div class="col-12 d-flex mt-4">

                <img src="/assets/contract.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Segundo</b> personalizá tu tienda. En tu panel de control podés modificar el diseño y plantilla de tu Ecommerce. Si tenés más experiencia en Ecommerce y sabes CSS podes modificar completamente a tu gusto</p>
            </div>
            <div class="col-12 d-flex mt-4">
                <img src="/assets/network.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Tercero</b> fomentá las redes sociales. Si venias trabajando con las redes sociales, fomentalos a entrar a tu tienda, y así empezás a generar visitas y posibles ventas.
                </p>

            </div>
            <div class="col-12 d-flex mt-4">
                <img src="/assets/money-bag.png" style="width:70px;height: 70px;" class="my-auto">
                <p class="p-inline my-auto"><b>Cuarto</b> disfrutá los ingresos. Si seguiste todos los pasos el resto de responsabilidad para que vendas es nuestra. Y gracias a nuestro excelente equipo de marketing vas a lograr tus objetivos.
                </p>
            </div>
            <div class="col-12 mt-5 text-center">
                <button class="btn-primary px-5">
                            CREAR MI TIENDA ONLINE
                        </button>
            </div>
        </div>
    </div>
</section>
<section class="clientes">

</section>